<!DOCTYPE html>
<html lang="es">
<head>
    <title>Inicio de sesión</title>
</head>
<body>
    <h2>Inicio de sesión</h2>
    
    <!-- This block displays error messages from your views.py -->
    {% if messages %}
        {% for message in messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Nombre de usuairo" required><br>
        <input type="password" name="password" placeholder="Contraseña" required><br>
        <button type="submit">Inicio de sesión</button>
    </form>
</body>
</html>